@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Roboto Condensed, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.799), rgba(0, 123, 255, 0.799));
    background-size: cover;
}

/* heading and logo*/

/* .header {
    
} */

h1, h2 {
    font-family: Roboto, sans-serif;
    letter-spacing: 1px;
    color: #007bff;
}

#logo {
    float: left;
    font-size: 220%;
    animation-name: moveInSide;
    animation-duration: 1s;
}

#menu {
    font-size: 110%;
}

#menu li {
    float: right;
    list-style-type: none;
    margin: 20px;
    text-transform: uppercase;
}

#menu a {
    text-decoration: none;
}

#menu a:hover {
    border-bottom: 1px solid #fff;
}

.active {
    border-bottom: 1px solid #fff;
}

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#hero-image {
    height: 95vh;
    width: 100%;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.01), rgba(0, 123, 255, 0.01)),
    url(../images/guitar2.jpg);
    background-size: cover;
    background-position: top;
}

.text-box {
    position: absolute;
    top: 20%;
    left: 10%;
    transform: translate(-50%, -50%);
    color: #007bff;
    text-transform: uppercase;
    padding-top: 150px;
    padding-left: 30px;
    /* text-align: center; */
    
}

.text-box-p {
    color: #fff;
}

@keyframes moveInSide {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 25px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: relative;
}

.btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 15px rgba(255, 255, 255, 0.15);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 8px rgba(255, 255, 255, 0.15);
}

.btn-blue {
    background-color: #fff;
    color: #007bff;
    margin: 25px 0;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .75s;
}

.btn-blue::after {
    background-color: #fff;
}

.btn:hover::after {
    transform: scaleX(1.25) scaleY(1.5);
    opacity: 0;
}

